#conversionList li {
    flex: 0 1 24%;
    margin-bottom: 5px;
}
#conversionList i {
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
}
#conversionList a {
    display: inline-block;
    padding: 10px 5px;
    background-color: #808080;
    width: 100%;
    color: black;
}
#conversionList a:hover {
    background-color: #FFFF00;
}
.conversionListActive {
    background-color: #FFFF00;
}
.svg-icon {

}