.ImportantData {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 96%;
    margin-right: 4%;
    height: 195px;
}
.ImportantData div {
    position: absolute;
    right: 1px;
    color: white;
}